// notes
// css3 animation js http://stackoverflow.com/questions/4797675/how-do-i-re-trigger-a-webkit-css-animation-via-javascript

// vars 
$padding: 5px;
$radius: 40px;
$rows: 8;
$cols: 15;

$width_game_border: 4px;

// theme colors
//http://www.colourlovers.com/palette/1510720/Zenburn
//http://www.colourlovers.com/palette/1473/Ocean_Five

// http://www.colourlovers.com/palette/1098589/coup_de_gr%C3%A2ce --
$s1: #F77825; //orange
$s2: #D3CE3D; //greenyellow
$s3: #FF847C; //red
$s4: #E84A5F; //darker red/magenta
$s5: #2A363B; //dark blue
$s6: #4ECDC4; //light blue
$scolors: ($s1, $s2, $s3, $s4);

$color_game_highlight: $s3;
$color_game_border: $s2;
$color_body: #554236; // brown

$background_color: #F1EFA5;

// fonts
$font_opensans: 'Open Sans', 'Open Sans local', Tahoma, Geneva, sans-serif;
$font_lobser: 'Lobster', 'Open Sans local', Tahoma, Geneva, sans-serif;
$font_lobsertwo: 'Lobster Two', 'Open Sans local', Tahoma, Geneva, sans-serif;
$font_luckiest: 'Luckiest Guy', Impact, Charcoal, "Arial Black", Gadget, cursive;

$fontsize: 3.5em;

$shadowstyle: 0px .5em 1em 0px $color_game_border;

// airplane diagram colors
$diagram_unavail: yellow;
$diagram_select: green;