/* ------------------- */
/* local font defs just in case */
/* Open Sans */
@font-face {
  font-family: 'Open Sans local';
  font-style: normal;
  font-weight: bold;
  src: url("OpenSans-Bold.ttf"); }

@font-face {
  font-family: 'Open Sans local';
  font-style: normal;
  font-weight: normal;
  src: url("OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: normal;
  src: url("Lobster.ttf"); }

@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: normal;
  src: url("LobsterTwo-Regular.ttf"); }

@font-face {
  font-family: 'Lobster Two';
  font-style: normal;
  font-weight: bold;
  src: url("LobsterTwo-Bold.ttf"); }

@font-face {
  font-family: 'Luckiest Guy';
  font-style: normal;
  font-weight: normal;
  src: url("LuckiestGuy.ttf"); }